.photo-grid{
    margin-top: 92px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
gap: 16px;
max-width: calc(100% - 96px);
align-self: center;
padding: 0;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: calc(100% - 48*2px);
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid { 
        margin-top: 88px;
        gap: 16px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        grid-template-columns: 1fr;
        row-gap: 12px;
       margin-top: 64px;
       padding: 0;
    }
}