.places{
   max-width: calc(100% - 296px);
   margin-top: 92px;
   align-self: center;
}

@media screen and (max-width: 1024px){
   .places{
      max-width: calc(100% - 48*2px);
   }
}

@media screen and (max-width: 320px){
   .places{
      max-width: 100%;
      margin-top: 64px;
   }
}