.lead{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: calc(100% - 296px);
    margin-top: 56px;
    align-items: center;
}

@media screen and (max-width: 1024px){
    .lead{
      width: calc(100% - 48*2px);
      margin-top: 48px;
    }
}

@media screen and (max-width: 768px){
    .lead{
      width: 100%;
    }
}

@media screen and (max-width: 320px){
    .lead{
      margin-top: 48px;
    }
}
