.header{
    display: flex;
    max-width: calc(100% - 96px);
    justify-content: space-between;
    margin-top: 28px;
    margin-left: 48px;
}

@media screen and (max-width: 320px){
    .header{
      margin-top: 16px;
      margin-left: 16px;
      max-width: 100%;
    }
}
