.lead__image{
   width: 984px;
max-height: 615px;
max-width: 100%;
object-fit: contain;
}

@media screen and (max-width: 320px){
    .lead__image{
        max-width: 320px;
        max-height: 200px;
    }
}