.cover{
    display: flex;
    align-items: stretch;
    background-image: url('../../images/cover-trains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-style: normal;
    margin: 92px 48px 0 48px;
}

.cover::before{  
    content:'';
    display: block;
    width: 0;
    height: 0;
    padding-top: 62.5%; 
} 


@media screen and (max-width: 1024px){
    .cover{
        margin: 92px 0 0 0;
    }
}

@media screen and (max-width: 320px){
    .cover{
        margin: 66px 0 0 0;
    }
}