
.cover__overlay{
    background-image: url('../../../images/cover-trains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-color: #2A2C2F;
    transition: opacity 0.4s ease-in-out;
    opacity: 0.8;
    justify-content: center;
    flex-direction: column;
}

.cover__overlay::before{
    content:'';
    width: 0;
    height: 0;
    margin-left: -1px;
    padding-top: calc(740 / 1184 * 100%);
}

.cover__overlay:hover{
    opacity: 0.3;
}