.cover__overlay{ 
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    
    width: 100%;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
}
