.cover__title{
    width: 560px;
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
/* or 106% */

text-align: center;
position: absolute;
align-self: center;
z-index: 1;
margin-top: 245px;
}