.place{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr minmax(min-content, max-content);
    grid-template-areas: 
    "title web"
    "image p"
    ;
    grid-row-gap: 48px;
    grid-column-gap: 40px;
   margin-top: 80px;
}

.place:first-child{
    margin-top: 0;
}