.footer{
   margin-top: 92px;
   max-width: 1184px;
   margin-bottom: 24px;
  margin-left: 48px;
  margin-right: 48px;
}

@media screen and (max-width: 320px){
  .footer{
      max-width: 320px;
      margin-top: 64px;
      margin-left: 16px;
      margin-right: 16px;
  }
}