.place__url-heading{
    max-width: 456px;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 170%;
/* or 20px */

letter-spacing: 0.2em;

color: #AAAAAA;
grid-area: web;
margin: 30px 0 0 0;
}

@media screen and (max-width: 550px) {
    .place__url-heading{
        display: none;
      }
}
@media (max-width: 320px) {
    .place__url-heading{
      display: none;
    }
}